<template>
    <div >
        <test-components @test-emit="handlerEmit"></test-components>
    </div>
</template>

<script>
import TestComponents from '@/components/TestComponents.vue' 
import {mapState, mapGetters, mapActions} from 'vuex'
export default {
    name:'test',
    components:{TestComponents},
    computed:{
        ...mapState({
            valueIndex: state =>  state.value,
            valueModule: state => state.test.testValue
        }),
        ...mapGetters([
            'value',
            'getTestValue'
        ])
    },
    data(){
        return{
        }
    },
    methods:{
        handlerEmit(param){
            console.log(param)
        }
    },
    created(){
        // console.log(this.$store.getters['value'])
        // console.log(this.$store.getters['getTestValue'])
        // this.$store.commit('value', 'dddd')
        // this.$store.commit('setTestValue', 'dddd')
        // console.log(this.$store.getters['value'])
        // console.log(this.$store.getters['getTestValue'])
        // console.log(this.valueIndex, 'vvv')
    },
    mounted(){
        console.log(this.valueIndex, 'vvv')
        console.log(this.valueModule, 'vvv')
        console.log(this.value, 'vvv')
        console.log(this.getTestValue, 'vvv')
    }
}
</script>

<style>

</style>