<template>
  <div>
    <p>test компонент</p>
  </div>
</template>

<script>
export default {
    props:{
        value1:{
            type:String,
            required:true
        },
        value1:{
            type:Array,
            required:false
        }
    },
    data(){
        return{}
    },
    methods:{
        testEmit(){
            this.$emit('test-emit', 'event')
        }
    }
}
</script>

<style>

</style>